<div class="card text-center" style="width: 18rem;">
  <img src={{pokemon.img_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{pokemon.name}}</h4>
    <h6 class="card-text">Set: {{pokemon.setName}}</h6>
    <h6 class="card-text">Rarity: {{pokemon.rarity}}</h6>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{id}}">
      More Info
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">{{pokemon.name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src={{pokemon.img_url}}>
            <h5>Set: {{pokemon.setName}}</h5>
            <h5>Rarity: {{pokemon.rarity}}</h5>
            {{#if pokemon.type2}}
              <h5>Type: {{pokemon.type1}} and {{pokemon.type2}}</h5>
            {{else}}
              <h5>Type: {{pokemon.type1}}</h5>
            {{/if}}
            <div class="row justify-content-around">
            {{#if pokemon.price2Type}}
            <div class="col-s-6">
              <ul>
              <h5>{{pokemon.price1Type}}</h5>
              <li>Low: ${{pokemon.price1low}}</li>
              <li>Mid: ${{pokemon.price1mid}}</li>
              <li>High: ${{pokemon.price1high}}</li>
            </ul>
            </div>
            <div class="col-s-6">
            <ul>
              <h5>{{pokemon.price2Type}}</h5>
              <li>Low: ${{pokemon.price2low}}</li>
              <li>Mid: ${{pokemon.price2mid}}</li>
              <li>High: ${{pokemon.price2high}}</li>
            </ul>
            </div>
            {{else}}
            <div class="col-s-6">
              <ul>
              <h5>{{pokemon.price1Type}}</h5>
              <li>Low: ${{pokemon.price1low}}</li>
              <li>Mid: ${{pokemon.price1mid}}</li>
              <li>High: ${{pokemon.price1high}}</li>
            </ul>
            </div>
            {{/if}}
            </div>
            <h5><a href="{{pokemon.tcg_link}}" target="_blank">View on TCG</a></h5>
          </div>
          <div class="modal-footer justify-content-around">
              {{#if sold}}
                <h5>You sold this card on: {{format_time saleDate}}</h5>
                <h5>Sale Price: ${{sale}}</h5>
            {{else}}
            <form class ="card-sell-form text-center">
              <div class ="form-group">
                <h5>Card Sale Information</h5>
                <label for="cardPrice{{pokemon.id}}">Sale Price</label>
                <input type="text" id="cardPrice{{pokemon.id}}" placeholder="$XXX.xx">
              </div>
              <div class ="form-group">
                <label for="saleDate{{pokemon.id}}">Sale Date</label>
                <input type="date" id="saleDate{{pokemon.id}}">
              </div>
              <input type="hidden" class="cardid" value={{pokemon.id}}>
            <button type="submit" class="btn btn-primary">Mark As Sold</button>
            </form>
                {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>