<div class="card text-center" style="width: 18rem;">
  <img src={{images.small}} class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <h6 class="card-text">Set: {{set.name}}</h6>
    <h6 class="card-text">Rarity: {{rarity}}</h6>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{id}}">
      More Info
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">{{name}}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src={{images.small}}>
            <h5>Set: {{set.name}}</h5>
            <h5>Rarity: {{rarity}}</h5>
            {{#if type2}}
              <h5>Type: {{types}} and {{types}}</h5>
            {{else}}
              <h5>Type: {{types}}</h5>
            {{/if}}
            <div class="row justify-content-around">
            {{#if tcgplayer.prices.holofoil}}
            <div class="col-s-6">
              <ul>
              <h5>Holofoil</h5>
              <li>Low: ${{tcgplayer.prices.holofoil.low}}</li>
              <li>Mid: ${{tcgplayer.prices.holofoil.mid}}</li>
              <li>High: ${{tcgplayer.prices.holofoil.high}}</li>
            </ul>
            </div>
            {{/if}}
            {{#if tcgplayer.prices.reverseHolofoil}}
            <div class="col-s-6">
            <ul>
              <h5>Reverse Holofoil</h5>
              <li>Low: ${{tcgplayer.prices.reverseHolofoil.low}}</li>
              <li>Mid: ${{tcgplayer.prices.reverseHolofoil.mid}}</li>
              <li>High: ${{tcgplayer.prices.reverseHolofoil.high}}</li>
            </ul>
            </div>
            {{/if}}
            {{#if tcgplayer.prices.normal}}
            <div class="col-s-6">
              <ul>
              <h5>Normal</h5>
              <li>Low: ${{tcgplayer.prices.normal.low}}</li>
              <li>Mid: ${{tcgplayer.prices.normal.mid}}</li>
              <li>High: ${{tcgplayer.prices.normal.high}}</li>
            </ul>
            </div>
            {{/if}}
            </div>
            <h5><a href={{tcgplayer.url}} target="_blank">View on TCG</a></h5>
          </div>
          <div class="modal-footer justify-content-around">
            {{#if isLoggedIn}}
            <form class ="card-save-form text-center">
              <div class ="form-group">
                <h5>Add this card to your collection</h5>
                <label for="cardGrade">Card Grade</label>
                <input type="text" id="cardGrade{{id}}" placeholder="7, 8, 9, 10">
              </div>
              <input type="hidden" value={{id}}>
            <button type="submit" class="btn btn-primary">Save Card</button>
            </form>
            {{else}}
              <h5>Create an account or Log In to save this card</h5>
                <a href="/"><button type="button" class="btn btn-primary">Log In</button></a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>