<div class="container">
    <div class="row">
        <div class="col text-center" style="margin: 25px;">
            <select class="custom-select" id="selChart">
                <option id="cardValue" value="Card Collection Value">Card Collection Value</option>
                <option id="cardProfit" value="Card Collection Profit">Card Collection Profit</option>
            </select>
        </div>
    </div>
</div>
<<<<<<< HEAD
<div>
   
     <div id="grades" value={{grades}}></div>
     <div id="sales" value={{sales}}></div>
     <div id="dates" value={{dates}}></div>
    
=======
<div class = "chart">
    <h5>{{grades}}</h5>
    <h5>{{sales}}</h5>
    <h5>{{dates}}</h5>

>>>>>>> develop
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>